.container {
  background-image: url("/static/welcomebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; /* Optional: Center the image */
  height: 100vh; /* Optional: Set height to ensure the container is visible */
  width: 100%; /* Optional: Set width to ensure the container is visible */
}